:root {
  --primary-color: rgb(179, 178, 178);
  --secondary-color: rgb(189, 130, 63);
  --third-color: white;
}

h1 {
  margin-top: 150px;
  margin-bottom: 80px;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  letter-spacing: 2px;
}
h2 {
  font-size: 21px;
  font-weight: bolder;
  font-family: "Poiret One", cursive;
  color: var(--secondary-color);
}
h3 {
  padding: 10px 10px;
  font-family: "Didact Gothic", sans-serif;
}
.img-fluid {
  display: block;
  margin: 0 auto;
  height: 210px;
  width: 240px;
  float: left;
  margin-bottom: 10px;
  border-radius: 50%;
  padding-right: 10px;
}
p {
  font-size: 15px;
  font-family: "Didact Gothic", sans-serif;
  color: var(--third-color);
}
@media (max-width: 600px) {
  p,
  .fruit-p,
  .micro-p {
    display: inline-flex;
  }
  h2,
  .fruit-heading {
    display: block;
    margin-top: 0 auto;
    text-align: center;
    flex-wrap: nowrap;
  }
  .btn-secondary,
  .btn-primary {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .video {
    width: 350px;
    height: 270px;
  }
}
@media only screen and (min-width: 1200px) {
  .fruit-container {
    max-width: 1400px;
  }
}
.btn-secondary {
  background-color: var(--secondary-color) !important;
  color: var(--third-color) !important;
  box-shadow: 5px 5px 3px rgb(100, 96, 96);
}
.footer {
  font-size: 20px;
  margin: 20px;
  padding-bottom: 20px;
  color: rgb(245, 81, 52);
  text-align: center;
}
.icons {
  color: rgb(245, 81, 52);
  margin: 0 15px;
  margin-top: 25px;
  font-size: 33px;
  padding-top: 30px;
}
.icons:hover {
  color: #0d6efd;
  transition: all 150ms ease-in-out;
}
.fruit-heading {
  text-align: center;
  color: rgb(245, 81, 52);
  padding-top: 50px;
}
.fruit-subheading {
  text-align: center;
  color: rgb(35, 172, 108);
}
.fruit-p {
  text-align: center;
  color: var(--third-color);
}
.btn-primary {
  background-color: rgb(35, 172, 108) !important;
  border: none;
  text-align: center !important;
  box-shadow: 5px 5px 3px grey;
}
.contact-container {
  color: var(--third-color);
  text-align: center;
}
.video {
  margin: 0 auto;
  display: block;
}
.card {
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: transparent;
  border: none;
}
